# Ignorar directoris de compilació
build/
bin/

# Ignorar directoris de dades i resultats
input_images/
output_images/

# Ignorar fitxers de configuració de l'IDE (opcional, però recomanat)
.vscode/
.vs/